# Python Data Structures

## Numeric Types

Every number, string, data structure, function, class, module, and so on exists as a Python object.
<br> Most used numeric types : Integer and floating point numbers

numeric types are automatically understood by python

In [1]:
x=7

In [2]:
type(x)

int

In [3]:
x=7.0

In [4]:
type(x)

float

In [5]:
x=3+1j

In [6]:
type(x)

complex

## Strings

A string is a sequence of characters.
<br> You can write strings using either single quotes ' or double quotes "

In [12]:
a="this is a string";a

'this is a string'

In [13]:
b='this is also a string';b

'this is also a string'

In [14]:
c="ahmet's idea";c

"ahmet's idea"

For multiline string use triple of single-quote or double-quote

In [15]:
d=""" 
this is a multi line
string
"""

In [16]:
d

' \nthis is a multi line\nstring\n'

\n character is a special character which tells the computer to go to next line

In [17]:
print(d)

this is a multi line
string

### len() function gives the number of element in a data object in python

In [18]:
b="this is a string"

In [19]:
len(b)

16

In [20]:
b="this is a          string"

In [21]:
len(b)

25

## String Indexing

Sequences maintain a left-to-right order among the items they contain: their items are stored and fetched by their relative positions.
<br>You can access the characters with the bracket operator [ ]

In [22]:
t="python"

In [23]:
t[0]

'p'

in python indexing starts with 0

In [24]:
t[1]

'y'

In [25]:
t[-1]

'n'

In [26]:
t[-2]

'o'

## String Slicing

string name[starting location : ending location+1]

In [27]:
t="python"

In [28]:
t[0:2]

'py'

In [29]:
t[0:3]

'pyt'

In [30]:
t[:]

'python'

In [31]:
t[:3]

'pyt'

In [32]:
t[3:]

'hon'

In [33]:
t[-3:-1]

'ho'

In [42]:
t[0:7:2]

'pto'

In [47]:
t[8:-7:-1]

'nohtyp'

In [34]:
t[-3:]

'hon'

In [48]:
t[ : :-1]

'nohtyp'

# Immutability

Immutable means unchangeable

Strings are immutable in Python—they cannot be changed in place after they are created

You can’t change a string by assigning to one of its positions, but you can always build a new one and assign it to the same name. 
<br> Because Python cleans up old objects as you go

In [35]:
s="Spam"

try assigning zeroth element as "z" character

In [36]:
s[0]="z"

TypeError: 'str' object does not support item assignment

so, if you want to change a string you have to re-create it

In [37]:
s="z"+s[1:]

In [38]:
print(s)

zpam

Every object in Python is classified as either immutable (unchangeable) or not.

In terms of the core types, numbers, strings, and tuples are immutable; lists, dictionaries,
and sets are not—they can be changed in place freely

## Tuples

A tuple is a fixed-length, immutable sequence of Python objects.
<br> The easiest way to create one is with a comma-separated sequence of values or using paranthesis ()

In [49]:
a=3,4,5;a

(3, 4, 5)

In [50]:
type(a)

tuple

In [51]:
b=(2,4,5)

In [52]:
type(b)

tuple

### Any sequence or iterator can be converted to a tuple by invoking tuple:

In [53]:
a="test string";a

'test string'

In [54]:
type(a)

str

In [55]:
b=tuple(a);b

('t', 'e', 's', 't', ' ', 's', 't', 'r', 'i', 'n', 'g')

In [56]:
type(b)

tuple

Tuple elements can be accessed with square brackets.

In [57]:
b[0]

't'

In [58]:
b[-1]

'g'

In [59]:
b[:3]

('t', 'e', 's')

### tuple object methods

In [64]:
b=(1,2,2,3,3,3,4,4,4,4,5,5,5,5,5)

In [65]:
b.count(2)

2

In [66]:
b.count(5)

5

In [67]:
b.index(4)

6

In [68]:
b.index(3)

3

## List

In contrast with tuples, lists are variable-length and their contents can be modified.
<br> They can be defined using square brackets [] or using the list type function:

In [69]:
mylist=[2,3,4,"text",None,True,"book"];mylist

[2, 3, 4, 'text', None, True, 'book']

In [70]:
mylist[0]

2

In [71]:
mylist[3]

'text'

In [72]:
mylist[4]

In [73]:
mylist[5]

True

### You can convert any sequence data structure into a list by typing list()

In [74]:
a="book"

In [75]:
b=list(a);b

['b', 'o', 'o', 'k']

In [76]:
c=(3,4,5);type(c)

tuple

In [77]:
c=list(c)

In [78]:
type(c)

list

## List methods

List.append() appends a new element into a list

In [81]:
t=[1,"1",2,"book","text","class"];t

[1, '1', 2, 'book', 'text', 'class']

In [82]:
t.append("new")

In [83]:
t

[1, '1', 2, 'book', 'text', 'class', 'new']

Del list[i] deletes a list element

In [84]:
del t[0]

In [85]:
t

['1', 2, 'book', 'text', 'class', 'new']

List.pop(i) removes ith element in a list and returns the value of the element

In [86]:
t.pop(0)

'1'

T.remove(value) removes first element that has value as “value”

In [87]:
t

[2, 'book', 'text', 'class', 'new']

In [88]:
t.remove("text")

In [89]:
t

[2, 'book', 'class', 'new']

##  + concatenates list,string or tuple

In [90]:
[1,2,3]+["a","b","c"]

[1, 2, 3, 'a', 'b', 'c']

In [91]:
"test"+"string"

'teststring'

In [92]:
c=(1,2,3)+("a","b","c");c

(1, 2, 3, 'a', 'b', 'c')

##  Extend vs Append

In [93]:
t=[10,20,30]

In [94]:
t.extend([40,50,60])

In [95]:
t

[10, 20, 30, 40, 50, 60]

In [96]:
t[3]

40

In [102]:
t=[10,20,30]

In [103]:
t.append([40,50,60])

In [104]:
t

[10, 20, 30, [40, 50, 60]]

In [105]:
t[3]

[40, 50, 60]

### List slicing

In [107]:
l=[10,20,30,40,50]

In [108]:
l[1:3]

[20, 30]

In [109]:
l[3:]

[40, 50]

In [110]:
two2d=[[1,2,3],[4,5,6],[7,8,9]];two2d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [111]:
two2d[0]

[1, 2, 3]

In [112]:
two2d[1]

[4, 5, 6]

In [113]:
two2d[1][0]

4

In [114]:
two2d[1:]

[[4, 5, 6], [7, 8, 9]]

## Changing list elements

In [115]:
l=list("abcde");l

['a', 'b', 'c', 'd', 'e']

In [116]:
l[1]

'b'

In [117]:
l[1]=100

In [118]:
l

['a', 100, 'c', 'd', 'e']

In [119]:
l[0]=l[-1]

In [120]:
l

['e', 100, 'c', 'd', 'e']

##  sorting the list

In [126]:
t=['tim','michael','john']

In [127]:
t.sort(key=len);t

['tim', 'john', 'michael']

In [121]:
mylist=list("deabc");mylist

['d', 'e', 'a', 'b', 'c']

In [122]:
mylist.sort()

In [123]:
mylist

['a', 'b', 'c', 'd', 'e']

In [124]:
mylist=[4,0,5,9]

In [130]:
k=mylist.sort();mylist

[0, 4, 5, 9]

In [131]:
k

mylist.sort doesn't return anything, therefore k is none. Beware inplace operations, it changes original, but doesn't return anything.

In [132]:
print(k)

None

In [133]:
k=mylist;k

[0, 4, 5, 9]

In [137]:
del k[0]; k;mylist

[9]

In [138]:
mylist

[9]

k's elements and mylist are gone

In [ ]:
mylist=[4,0,5,9,"a","d","c"]

In [ ]:
mylist.sort();mylist

### Beware in-place operations

In [ ]:
mylist=list("deabc");mylist

In [ ]:
k=mylist.sort()

In [ ]:
print(k)

## Assignment Creates References, Not Copies

In [139]:
mylist=list("deabc");mylist

['d', 'e', 'a', 'b', 'c']

In [140]:
k=mylist

In [141]:
k

['d', 'e', 'a', 'b', 'c']

In [143]:
# remove the first element of k
k.pop(0)

'd'

In [144]:
# now check mylist
mylist

['e', 'a', 'b', 'c']

In [147]:
k=mylist.copy()

In [148]:
k.pop(0)

'e'

In [149]:
mylist

['e', 'a', 'b', 'c']

In [150]:
k

['a', 'b', 'c']

In [ ]:
import copy

In [ ]:
k=copy.copy(mylist)#if copy module is not available

In [ ]:
k=copy.deepcopy(mylist)# another module

### You can use copy method of an object if you want to create copies

In [ ]:
mylist=list("deabc");mylist

In [ ]:
k=mylist.copy()

In [ ]:
k

In [ ]:
# remove the first element of k

In [ ]:
# now check mylist

### if an object does not have a copy method you can use the copy module

In [ ]:
mylist=list("deabc");mylist

In [ ]:
import copy
k=copy.copy(mylist)

In [ ]:
k.pop(0)

In [ ]:
mylist

### Insert function adds element at the desired index

In [151]:
mylist=["Zebra","Lion","Cat","Camel","Eagle","Shark"]

In [152]:
mylist.insert(1,"Whale")

In [153]:
mylist

['Zebra', 'Whale', 'Lion', 'Cat', 'Camel', 'Eagle', 'Shark']

In [154]:
mylist.reverse()

In [155]:
mylist

['Shark', 'Eagle', 'Camel', 'Cat', 'Lion', 'Whale', 'Zebra']

In [156]:
mylist.clear()

In [157]:
mylist

[]

In [158]:
del mylist

In [160]:
mylist#if you try to access a variable which is not there, you get name error

NameError: name 'mylist' is not defined

## In operator 
This operator returns if searched element in the data object or not

In [161]:
mylist=["Zebra","Lion","Cat","Camel","Eagle","Shark"]

In [162]:
"Eagle" in mylist

True

In [163]:
"Horse" in mylist

False

In [164]:
t="There are 30 students registered to this class"

In [165]:
"class" in t

True

In [166]:
"Class" in t

False

In [177]:
mylist=[["Zebra","Lion","Cat","Camel","Eagle","Shark"]]

In [178]:
"Eagle" in mylist# there is only one object

False

In [179]:
len(mylist)

1

## Dictionaries

A dictionary is like a list, but more general. In a list, the positions (indices) have to be integers; in a dictionary the indices can be (almost) any type.
<br> Dictionary maps between a set of indices (which are called keys) and a set of values.
<br> Dictionaries can be created by using curly braces {} and using colons to separate keys and values:

In [167]:
salary={}

In [168]:
salary["john"]=1000

In [169]:
salary

{'john': 1000}

In [170]:
salary["tim"]=2000

In [171]:
salary

{'john': 1000, 'tim': 2000}

In [172]:
salary["alexander"]=3000

In [173]:
salary

{'john': 1000, 'tim': 2000, 'alexander': 3000}

now get the salary of tim

In [174]:
salary["tim"]

2000

now get the salary of john

In [175]:
salary['john']

1000

try getting the first element of dictionary

In [176]:
salary[0]

KeyError: 0

in dictionary you cannot access the data using indeces!!

with in operator you can check if key is there or not

In [ ]:
"tim" in salary

In [ ]:
"Jack" in salary

to remove elements use dictionary.pop() function

In [ ]:
salary.pop("tim")

In [ ]:
salary

• The keys and values method give you lists of the keys and values, respectively

In [ ]:
salary.keys()

In [ ]:
salary.values()

items function retursn both key and value

In [ ]:
salary.items()

• One dictionary can be merged into another using the update method.

In [ ]:
salary.update({"kate":1500,"daniel":3000})

In [ ]:
salary

get method returns a default value—None, if the key doesn’t exist. 
<br> This feature is important it does not give error if the key is not in the dictionary.

In [ ]:
salary["kate"]

In [ ]:
salary["jack"]

In [ ]:
salary.get("jack")

- by default get function returns none if key does not exist
- However, you can specify the ouput of the get method if key does not exist

In [ ]:
salary.get("jack",[])

In [ ]:
salary.get("jack","test")

##  Nested Dictionary

In [ ]:
rec = {'name': 'Bob',
'jobs': ['developer', 'manager'],
'web': 'www.bobs.org/ ̃Bob',
'home': {'state': 'Overworked', 'zip': 12345}}

In [ ]:
rec

In [ ]:
rec["name"]

In [ ]:
rec["jobs"]

In [ ]:
rec["jobs"][0]

In [ ]:
rec["home"]

get the zip code

## Sets

A set is an unordered collection of unique elements.
<br>• A set can be created in two ways: via the set function or using curly braces:
<br>• Sets support mathematical set operations like union, intersection, difference
<br>• Empty set should be created as s=set() command. This creates a new set which is called as s.

In [ ]:
a={2,3,5,7,7,7,4,4,4,3,3}

In [ ]:
type(a)

In [ ]:
a

In [ ]:
b=set([1,2,2,2,3,3,9,9,6,6,6])

In [ ]:
b

In [ ]:
a | b #union

In [ ]:
a & b #intersection

In [ ]:
a-b # difference

In [ ]:
b-a

press tab key after a. to see what functions available for set objects

In [ ]:
a.isdisjoint(b)

In [ ]:
c=set([10,20,30])

In [ ]:
a.isdisjoint(c)

sets take strings as well

In [ ]:
engineers={"bob","sue","ann","vic"}

In [ ]:
managers={"tom","sue"}

In [ ]:
"bob" in engineers

In [ ]:
engineers&managers

In [ ]:
engineers | managers

In [ ]:
engineers - managers